@font-face {
    font-family: Aller;
    src: url("/Aller/Aller_Bd.ttf");  
    font-weight:400;
}

html, body {
    background: #f7f7f5;
    font-family: Aller, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
    color: #bf3743;
}

p {
    color: #d44246;
    font-size: 1.1em;
    margin-top: -8%;
}

.window-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;  
}

.content {
    width: 60%;
    height: 60%;
    background: white;
    border-radius: 3px;
    position: fixed;
    left: 20%;
    top: 20%;        
}

#div1 {
    width: 50%;
    float: left;
    height: 100%;
}

#img{
    width: auto;
    height: 100%;
    background-image: url("/img/c.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#div2{
    width: 50%;
    height: 100%;
    float: right;
}

#content_holder{
    height: 50%;
    width: 100%;
    position: relative;
    top: 15%; 
}

.contents{
    width: 96%;
    position: relative;
    left: 2%;
}

#inputs{
    position: relative;
    top: -5%;
}

input{
    font-family: Aller;
    color: #b0afb0;
    font-size: 1.1em;
    width: 95%;
    padding: 5.5px;
    margin-bottom: 2.5%;
    border: 1px solid #d44246;
    border-radius: 5px;
}

#btn{
    background: #d44246;
    font-family: Aller;
    color: #ffffff;
    font-size: 1.2em;
    width: 30%;
    border-radius: 5px;
    background: linear-gradient(left, #c31871, #d44246);
    background: -webkit-linear-gradient(left, #c31871 , #d44246);
    background: -o-linear-gradient(right, #c31871, #d44246); 
    background: -moz-linear-gradient(right, #c31871, #d44246);
    background: linear-gradient(to right, #c31871 , #d44246); 
}

.clear {
    clear: both;
}
